@import "src/css/null.css";
body {
  background-color: #5C5C5C;
}

.wrapper {
  width: 1280px;
  margin: auto;
}

.house {
  background-image: url("./src/assets/start-screen-gradient-background.jpg");
}
.house .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 40px;
}
.house .header h2 {
  font-family: "Georgia";
  font-size: 32px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #F1CDB3;
}
.house .header p {
  margin-top: 10px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
.house .header .header_navigation {
  display: flex;
}
.house .header .header_navigation li {
  margin-left: 35px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}
.house .header .header_navigation li a:visited {
  color: #CDCDCD;
}
.house .header .header_navigation li:hover a {
  color: #FAFAFA;
  border-bottom: solid 4px #F1CDB3;
}
.house .house_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
.house .house_container div .house_container_text {
  position: relative;
  bottom: 54px;
}
.house .house_container div .house_container_text h1 {
  max-width: 310px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.house .house_container div .house_container_text p {
  margin-top: 40px;
  max-width: 460px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #CDCDCD;
}
.house .house_container div .house_container_text button {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  margin-top: 42px;
  width: 207px;
  height: 52px;
  left: calc(50% - 103.5px - 126.5px);
  bottom: 0px;
  background: #F1CDB3;
  border-radius: 100px;
}

.about {
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  padding: 80px 80px 100px 80px;
}
.about h2 {
  margin: 15px -5px;
  max-width: 370px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.about p {
  margin-top: 25px;
  max-width: 430px;
  height: 96px;
  left: 0px;
  top: 115px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

.pets {
  background: #F6F6F6;
  padding: 80px 59px 100px 59px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pets h2 {
  max-width: 400px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.pets .pets_container {
  margin-top: 43px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pets .pets_container .block_pets {
  margin: 0 16px;
  width: 270px;
  height: 435px;
  background: #FAFAFA;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pets .pets_container .block_pets h3 {
  margin: 30px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.pets .pets_container .block_pets button {
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}
.pets .pets_button {
  margin-top: 77px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 45px;
  width: 261px;
  height: 52px;
  background: #F1CDB3;
  border-radius: 100px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.05em;
  color: #292929;
}
.pets .arrow_left,
.pets .arrow_right {
  position: relative;
  top: 21px;
}

/*# sourceMappingURL=style.css.map */
