@import "css/null.css";
body {
  background-color: #F6F6F6;
}

header {
  height: 120px;
  position: relative;
  margin: auto;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header {
  width: 100%;
  margin: auto;
  position: fixed;
  background-color: #fff;
}
header .header .header_container {
  width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
}
header .header .header_container h2 {
  font-family: "Georgia";
  font-size: 32px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #545454;
}
header .header .header_container h2 a {
  color: #545454;
}
header .header .header_container p {
  margin-top: 10px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #292929;
}
header .header .header_container .header_navigation {
  display: flex;
}
header .header .header_container .header_navigation li {
  margin-left: 35px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}
header .header .header_container .header_navigation li a {
  color: #545454;
}
header .header .header_container .header_navigation li a:visited {
  color: #545454;
}
header .header .header_container .header_navigation li:hover a {
  color: #545454;
  border-bottom: solid 4px #F1CDB3;
}

main .pets {
  width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .pets h1 {
  max-width: 400px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}
main .pets .block_pets {
  margin-top: 43px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
main .pets .block_pets div {
  margin-top: 30px;
}
main .pets .block_pets div a {
  margin: 0 16px;
  width: 270px;
  height: 435px;
  background: #FAFAFA;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.4s;
}
main .pets .block_pets div a p {
  margin: 30px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}
main .pets .block_pets div a button {
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  transition: 0.5s;
}
main .pets .block_pets div a button:hover {
  background: #F1CDB3;
  color: #ffffff;
  box-shadow: inset 0 0 0 3px #F1CDB3;
}
main .pets .block_pets div a:hover {
  background: #FFFFFF;
  transition: 0.4s;
  -webkit-box-shadow: 7px 8px 34px 7px rgba(34, 60, 80, 0.12);
  -moz-box-shadow: 7px 8px 34px 7px rgba(34, 60, 80, 0.12);
  box-shadow: 7px 8px 34px 7px rgba(34, 60, 80, 0.12);
}
main .pets nav {
  margin: 60px 0 100px 0;
}
main .pets nav ul {
  display: flex;
}
main .pets nav ul a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  width: 52px;
  height: 52px;
  border: 4px solid #F1CDB3;
  border-radius: 50%;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #292929;
}
main .pets nav ul a:hover {
  background-color: #F1CDB3;
}
main .pets nav ul .grey {
  color: #CDCDCD;
  border: 4px solid #CDCDCD;
}
main .pets nav ul .grey:hover {
  color: rgba(0, 0, 0, 0.68);
  background-color: #CDCDCD;
}

.footer {
  background-image: url("./assets/shelter/footer-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer .wrapper_footer {
  width: 1280px;
  margin: auto;
  padding: 40px 40px 0 40px;
  display: flex;
  justify-content: space-between;
}
.footer .wrapper_footer .footer_block {
  margin-top: 20px;
}
.footer .wrapper_footer .footer_block h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
.footer .wrapper_footer .footer_block .footer_data {
  margin: 38px 13px 0 0;
}
.footer .wrapper_footer .footer_block .footer_data a {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #F1CDB3;
  transition: 0.5s;
}
.footer .wrapper_footer .footer_block .footer_data a svg {
  margin-right: 20px;
}
.footer .wrapper_footer .footer_block .footer_data a svg path {
  transition: 0.5s;
}
.footer .wrapper_footer .footer_block .footer_data a p {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  /* color-primary */
  color: #F1CDB3;
}
.footer .wrapper_footer .footer_block .footer_data a:hover svg path {
  fill: #FFFFFF;
}
.footer .wrapper_footer .footer_block .footer_data a:hover p {
  color: #FFFFFF;
}

/*# sourceMappingURL=pets.css.map */
